@font-face {
  font-family: LEngineer-Regular;
  src: url(../fonts/LEngineer-Regular.otf);
}
@font-face {
  font-family: Proxima-Nova-Semibold;
  src: url(../fonts/Proxima-Nova-Regular.otf);
}
@font-face {
  font-family: Proxima-Nova-Semibold;
  src: url(../fonts/Proxima-Nova-Bold.otf);
  font-weight: bold;
}
@font-face {
  font-family: Proxima-Nova-Bold;
  src: url(../fonts/Proxima-Nova-Bold.otf);
}

html {
  height: 100%;
  overflow-x: hidden;
  overflow-y: hidden;
}
body {
  height: 100%;
  margin: 0;
  padding: 0;
}
#root {
  height: 100%;
}
#root > div {
  height: 100%;
}

.splash-left {
  position: fixed;
  right: 81vw;
  bottom: -10%;
  height: 85%;
  z-index: 1;
}
.splash-right {
  position: fixed;
  right: 45vw;
  top: -38%;
  height: 80%;
  z-index: 1;
}

.left-bar {
  position: absolute;
  top: 5vh;
  right: calc(6.5vw + 11.5vh);
  z-index: 2;

  font-family: Proxima-Nova-Bold;
  font-size: 1.9vh;
}
.left-bar > span {
  margin-right: 1.5vw;
}
.left-bar a {
  text-decoration: none;
  color: #ffffff;
}
.left-bar a:hover {
  color: #ffffff;
  /* text-shadow: 0px 0px 4px #555555cc; */
}

.social {
  position: absolute;
  top: 4.4vh;
  right: calc(3vw + 2.5vh);
  z-index: 2;
}
.social a {
  display: inline-block;
  width: 3vh;
  height: 3vh;
  margin-right: 1vw;
}
.social img {
  width: 100%;
  height: 100%;
}
.lang {
  position: absolute;
  top: 5vh;
  right: 2vw;
  z-index: 2;

  font-family: Proxima-Nova-Bold;
  font-size: 1.9vh;
  color: #ffffff;
  cursor: pointer;
}

.main-page {
  height: 100%;
}

.logo {
  position: absolute;
  top: 5vh;
  left: 11vw;
  margin-left: -3vh;
  height: 14vh;
  z-index: 4;
  cursor: unset;
  /* opacity: 0; */
  opacity: 1;
}
.logo-not-main {
  opacity: 1;
}
/* .logo-hidden {
  opacity: 1;
  animation-name: logo;
  animation-duration: 2.5s;
} */
@keyframes logo {
  0%   {opacity: 0;}
  99.9%   {opacity: 0;}
  100%   {opacity: 1;}
}

.loader {
  position: fixed;
  height: 100%;
  width: 100%;
  background: #bcffd0;
  opacity: 1;
  z-index: 17;
}
.loader-hidden {
  width: 0;
  height: 0;
  opacity: 0;
  animation-name: loader;
  animation-duration: 2.5s;
}
@keyframes loader {
  0%   {opacity: 1; height: 100%; width: 100%}
  20%   {opacity: 1; height: 100%; width: 100%}
  99.9%   {opacity: 0; height: 100%; width: 100%}
  100%   {opacity: 0; height: 0; width: 0}
}

.loader-img {
  position: absolute;

  top: 50%;
  left: 50%;
  margin-left: 0;
  height: 28vh;
  transform: translate(-50%, -50%);
  z-index: 18;
}
.loader-img-hidden {
  top: 5vh;
  left: 11vw;
  margin-left: -3vh;
  height: 0;
  transform: none;

  animation-name: loader-img;
  animation-duration: 2.5s;
}
@keyframes loader-img {
  0%   {top: 50%; left: 50%; margin-left: 0; height: 28vh;transform: translate(-50%, -50%);}
  20%   {top: 50%; left: 50%; margin-left: 0; height: 28vh;transform: translate(-50%, -50%);}
  99.9%   {top: 5vh; left: 11vw; margin-left: -3vh; height: 14vh;transform: none;}
  100%   {top: 5vh; left: 11vw; margin-left: -3vh; height: 0;transform: none;}
}

.on-images-loaded, .on-images-loaded > div, .on-images-loaded > div > div {
  height: 100%;
}

.trans-curtain {
  position: absolute;
  left: -25%;
  top: 0;
  height: 100%;
  width: 150%;
  z-index: 11;
  background-color: #bcffd0;
  transform: skewX(-10deg);
  animation-name: trans;
  animation-duration: 1.2s;
}
@keyframes trans {
  0%   {left: -175%;}
  20%   {left: -175%;}
  100%   {left: -25%;}
}

.trans-curtain-hidden {
  left: -175%;
  animation-name: trans-hidden;
  animation-duration: 3s;
}
@keyframes trans-hidden {
  0%   {left: -25%;}
  20%   {left: -25%;}
  100%   {left: -175%;}
}
.trans-curtain > img {
  position: absolute;

  top: 50%;
  left: 50%;
  margin-left: 0;
  height: 28vh;
  transform: translate(-50%, -50%) skewX(10deg);
  z-index: 4;
}

.main-trans-curtain {
  position: absolute;
  left: -25%;
  top: 0;
  height: 100%;
  width: 150%;
  z-index: 11;
  background-color: #bcffd0;
  transform: skewX(-10deg);
  animation-name: trans;
  animation-duration: 1.2s;
}
.main-trans-curtain-hidden {
  left: -175%;
  animation-name: trans-hidden;
  animation-duration: 0.1s;
}
.main-trans-curtain > img {
  position: absolute;

  top: 50%;
  left: 50%;
  margin-left: 0;
  height: 28vh;
  transform: translate(-50%, -50%) skewX(10deg);
  z-index: 4;
}