.main {
  position: absolute;
  top: 0;
  left: 11vw;
  width: 35%;
  height: 100%;
  z-index: 2;
}
.main-header {
  margin-top: 24vh;
  height: 6vh;

  font-family: LEngineer-Regular;
  font-size: 3.5vh;
  -webkit-font-smoothing: antialiased;
  font-weight: lighter;
  color: #75321f;
}
.main-body {
  height: 40%;
  margin-top: 4vh;
  margin-right: 2%;
  z-index: 2;

  font-family: Proxima-Nova-Semibold;
  font-size: 1.8vh;
  line-height: 2.7vh;
  color: #266336;
}