.main {
  position: absolute;
  top: 24vh;
  left: 11vw;
  width: 35%;
  height: 76%;
  z-index: 2;

  opacity: 1;
  transition: opacity 1s ease;
  transition-delay: 1s;
}
.main-hidden {
  opacity: 0;
  transition: opacity 0.5s ease;
}

.main-header {
  height: 6vh;
}
.main-header > * {
  font-family: LEngineer-Regular;
  font-size: 3.5vh;
  -webkit-font-smoothing: antialiased;
  font-weight: lighter;
  color: #75321f;
}
.main-body {
  height: 40%;
  margin-top: 4vh;
  margin-right: 2%;
  z-index: 2;

  font-family: Proxima-Nova-Semibold;
  font-size: 1.8vh;
  line-height: 2.7vh;
  color: #266336;
}