.swiper-container-vertical > .swiper-pagination-bullets {
  right: 5.5vh;
  transition: right 0.5s ease;
  transition-delay: 0.5s;
}
.swiper-container-vertical > .swiper-pagination-bullets .swiper-pagination-bullet {
  margin: 2vh 0;
}
.swiper-container-vertical > .bullets-hidden {
  /* right: -6vh;
  transition: right 1s ease;
  transition-delay: 0.5s; */
}
.swiper-pagination-bullet {
  height: 2vh;
  width: 2vh;
  background: none;
  border: 0.5vh solid white;
  opacity: 1;
}
.swiper-pagination-bullet-active {
  background: white;
}