.swiper-container-vertical > .swiper-pagination-bullets {
  right: 2vw;
  transition: right 0.5s ease;
  transition-delay: 0.5s;
}
.swiper-container-vertical > .bullets-hidden {
  right: -6vw;
  transition: right 1s ease;
  /* transition-delay: 0.5s; */
}
.swiper-pagination-bullet {
  height: 2vh;
  width: 2vh;
  background: none;
  border: 0.5vh solid white;
  opacity: 1;
}
.swiper-pagination-bullet-active {
  background: white;
}