.swiper-container, .swiper-wrapper, .swiper-slide {
  height: 100%;
  z-index: unset;
}

.swiper-slide-right {
  position: absolute;
  right: 0;
  height: 100%;
  width: 57%;
  box-sizing: border-box;
}

.swiper-slide-right-title {
  margin-top: 19vh;
  margin-left: 12vw;
  height: 5vh;

  text-align: center;
  font-family: LEngineer-Regular;
  font-size: 3.5vh;
  -webkit-font-smoothing: antialiased;
  color: #7d4526;
}

.swiper-slide-right-img {
  height: 70%;
  text-align: center;
}
.swiper-slide-right-img img {
  position: absolute;
  right: 43%;
  height: 70vh;

  transform: translateX(50%);
}

.slide-vivsyane {
  background-color: #ffd889;
}

.slide-grechane {
  background-color: #deb297;
}