.swiper-container, .swiper-wrapper, .swiper-slide {
  height: 100%;
  z-index: 0;
}

#products .swiper-slide {
  background-color: #ffdc6f;
}

.swiper-slide-left {
  position: absolute;
  height: 100%;
  width: 100%;
  box-sizing: border-box;
  /* background-image: radial-gradient(circle, #ffe5ac, #ffe5ac, #ffd745, #ffd745); */
  background-size: 65% 100%;
  background-position-x: -15%;
  background-repeat: no-repeat;
}

.swiper-slide-left > img {
  position: absolute;
  bottom: 2vh;
  left: 2vh;
  height: 25vh;
  width: 25vh;
  z-index: 2;
}

.swiper-slide-right {
  position: absolute;
  right: 0;
  height: 100%;
  width: 50%;
  box-sizing: border-box;
}

.swiper-slide-right-title {
  margin-top: 16vh;
  /* margin-left: 7vw; */
  height: 5vh;

  text-align: center;
  font-family: LEngineer-Regular;
  font-size: 4vh;
  -webkit-font-smoothing: antialiased;
  color: #7d4526;
  cursor: pointer;
}
.swiper-slide-right-title-hidden {
  cursor: unset;
}

.swiper-slide-right-img {
  margin-top: 2vh;
  height: 70%;
  text-align: center;
  cursor: pointer;
}
.swiper-slide-right-img-hidden {
  cursor: unset;
}
.swiper-slide-right-img img {
  position: absolute;
  right: 50%;
  height: 70vh;

  transform: translateX(50%);
}

/* .slide-vivsyane {
  background-color: #ffd889;
  background-color: #ffe5ab;
}

.slide-grechane {
  background-color: #deb297;
  background-color: #eaccb8;
} */