.products-page {
  height: 100%;
  background-color: #f1dac1;
  overflow-x: auto;
  overflow-y: auto;
}
.prod-splash {
  position: absolute;
  top: 10vh;
  height: 80vh;
  z-index: 0;
}

.contacts {
  position: absolute;
  bottom: 0;
  height: 20vh;
  width: 100%;
  padding-left: 16vw;
  background-color: rgb(51, 177, 0, 29%);
  z-index: 1;
}

.contacts-img {
  height: 100%;
  width: 11vh;
  float: left;
  margin-right: 3vw;
}
.contacts-img > img {
  position: absolute;
  top: 50%;
  
  height: 8vh;
  transform: translateY(-50%);
}

.contacts-text {
  height: 100%;
  float: left;
}
.contacts-text > p {
  position: absolute;
  top: 50%;
  margin: 0;
  font-family: Proxima-Nova-SemiBold;
  
  font-size: 1.8vh;
  color: #006d24;
  transform: translateY(-50%);
}

.products-container {
  position: relative;
  width: 75vw;
  padding-left: 20%;
  padding-top: 25vh;
  padding-bottom: 15vh;
  z-index: 1;
}
.products-node {
  display: inline-block;
  width: 25vw;
  height: 45vh;
  margin-bottom: 10vh;
  text-align: center;
}
.products-node-img, .products-node-img-small {
  margin-bottom: 5%;
}
.products-node-img {
  height: 70%;
}
.products-node-img-small {
  height: 50%;
}
.products-node > a {
  text-decoration: none;
}
.products-node-heading, .products-node-title, .products-node-subtitle {
  margin: 0.5vh auto;
  font-family: Proxima-Nova-Bold;
  font-size: 1.8vh;
  color: #7c4331;
}
.products-node-subtitle {
  font-family: Proxima-Nova-SemiBold;
}
.products-node-subtitle {
  max-width: 30vh;
}