.swiper-container, .swiper-wrapper, .swiper-slide {
  height: 100%;
  z-index: 0;
}

.swiper-slide-left {
  position: absolute;
  height: 100%;
  width: 100%;
  box-sizing: border-box;
  background-size: 50% 100%;
  background-repeat: no-repeat;
}

.swiper-slide-left > img {
  position: absolute;
  bottom: 5vh;
  right: 55vw;
  height: 25vh;
  width: 25vh;
  z-index: 1;
}

.swiper-slide-right {
  position: absolute;
  right: 0;
  height: 100%;
  width: 57%;
  box-sizing: border-box;
}

.swiper-slide-right-title {
  margin-top: 19vh;
  margin-left: 12vw;
  height: 5vh;

  text-align: center;
  font-family: LEngineer-Regular;
  font-size: 3.5vh;
  -webkit-font-smoothing: antialiased;
  color: #7d4526;
  cursor: pointer;
}
.swiper-slide-right-title-hidden {
  cursor: unset;
}

.swiper-slide-right-img {
  height: 70%;
  text-align: center;
  cursor: pointer;
}
.swiper-slide-right-img-hidden {
  cursor: unset;
}
.swiper-slide-right-img img {
  position: absolute;
  right: 43%;
  height: 70vh;

  transform: translateX(50%);
}

/* .slide-vivsyane {
  background-color: #ffd889;
  background-color: #ffe5ab;
}

.slide-grechane {
  background-color: #deb297;
  background-color: #eaccb8;
} */