.why-page {
  height: 100%;
  width: 100%;
  background-color: #f1dac1;
}
.why-swiper-container {
  height: 100%;
  z-index: 1;
}
.why-swiper-container > .swiper-wrapper {
  z-index: 1;
}

.why-left {
  position: absolute;
  top: 20vh;
  left: 11vw;
  width: 38%;
  height: 76%;
  z-index: 2;
  color: #75321f;

  opacity: 1;
  transition: opacity 1s ease;
  transition-delay: 1s;
}

.why-header {
  opacity: 0;
  transform: translateY(10vh);
}
.why-header-active {
  opacity: 1;
  font-family: LEngineer-Regular;
  font-size: 4vh;
  -webkit-font-smoothing: antialiased;
  font-weight: lighter;
  color: #75321f;
  transform: translateY(0);
  transition: opacity 0.75s ease, transform 0.75s ease;
}
.why-header > * {
  font-size: 4vh;
  -webkit-font-smoothing: antialiased;
  font-weight: lighter;
}
.why-body {
  /* height: 40%; */
  margin-top: 4vh;
  z-index: 2;

  font-family: Proxima-Nova-Semibold;
}

.why-body-title{
  margin: 0;
  margin-bottom: 3vh;
  font-size: 2.3vh;
  text-transform: uppercase;
  font-family: Proxima-Nova-Bold;
  -webkit-font-smoothing: antialiased;
  opacity: 0;
  transform: translateY(10vh);
}
.why-body-title-active {
  opacity: 1;
  transform: translateY(0);
  transition: opacity 0.75s ease, transform 0.75s ease;
  transition-delay: 0.3s;
}

.why-body-description {
  font-size: 2.2vh;
  line-height: 2.6vh;
  opacity: 0;
  box-sizing: border-box;
  padding-right: 2vh;
  transform: translateY(10vh);
}
.why-body-description > p {
  margin: 0;
}
.why-body-description > div {
  display: inline-block;
  height: 1.1vh;
  width: 1.1vh;
  margin-right: 0.4vw;
  border-radius: 50%;
  background-color: green;
}

.why-body-description-active {
  opacity: 1;
  transform: translateY(0);
  transition: opacity 0.75s ease, transform 0.75s ease;
  transition-delay: 0.6s;
}

.why-img-center {
  position: absolute;
  right: 25vw;
  height: 100%;
  transform: translateX(50%);

  z-index: 0;
}
.why-img-right {
  position: absolute;
  left: 50%;
  width: 50%;
  background-position: center;
  background-size: cover;
  height: 100%;
}

.why-img-0 {
  right: 30vw;
  height: 80%;
}

.why-video {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.why-video > iframe {
  height: 54vh;
  width: 96vh;
}

.why-certificate {
  display: inline-block;
  margin-top: 2vh;
  height: 30vh;
  margin-right: 1vw;
<<<<<<< Updated upstream
  cursor: pointer;
  opacity: 0;
  transform: translateY(10vh);
}
.why-certificate-active {
  opacity: 1;
  transform: translateY(0);
  transition: opacity 0.75s ease, transform 0.75s ease;
  transition-delay: 0.9s;
=======
>>>>>>> Stashed changes
  opacity: 0;
  transform: translateY(10vh);
}
.why-certificate-active {
  opacity: 1;
  transform: translateY(0);
  transition: opacity 0.75s ease, transform 0.75s ease;
  transition-delay: 0.9s;
}

.why-certificate > img {
  height: 100%;
}
.why-certificate-modal {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 11;
  height: 100vh;
  width: 100vw;
  background-color: #00000077;
  cursor: pointer;
}
.why-certificate-modal-active {
  display: block;
}

.why-certificate-modal > div {
  height: 100%;
  box-sizing: border-box;
  padding: 5vh;
  text-align: center;
  overflow-y: scroll;
}

.why-certificate-modal > div  > img {
  cursor: default;
  opacity: 0;
}
.why-certificate-modal-active > div > img {
  /* height: 200%; */
  width: 60%;
  opacity: 1;
  animation-name: modal-img;
  animation-duration: 1.5s;
}
@keyframes modal-img {
  0%   {opacity: 0;}
  100%   {opacity: 1;}
}