.why-page {
  height: 100%;
  width: 100%;
  background-color: #e2e4e3;
}
.why-swiper-container {
  height: 100%;
  z-index: 1;
}
.why-swiper-container > .swiper-wrapper {
  z-index: 1;
}

.why-left {
  position: absolute;
  top: 20vh;
  left: 11vw;
  width: 35%;
  height: 76%;
  z-index: 2;
  color: #75321f;

  opacity: 1;
  transition: opacity 1s ease;
  transition-delay: 1s;
}

.why-header {
  height: 6vh;
  opacity: 0;
  transform: translateY(10vh);
}
.why-header-active {
  opacity: 1;
  transform: translateY(0);
  transition: opacity 0.75s ease, transform 0.75s ease;
}
.why-header > * {
  font-family: LEngineer-Regular;
  font-size: 4vh;
  -webkit-font-smoothing: antialiased;
  font-weight: lighter;
  color: #75321f;
}
.why-body {
  height: 40%;
  margin-top: 4vh;
  z-index: 2;

  font-family: Proxima-Nova-Semibold;
}

.why-body-title{
  margin: 0;
  font-size: 2.1vh;
  text-transform: uppercase;
  font-family: Proxima-Nova-Bold;
  -webkit-font-smoothing: antialiased;
  opacity: 0;
  transform: translateY(10vh);
}
.why-body-title-active {
  opacity: 1;
  transform: translateY(0);
  transition: opacity 0.75s ease, transform 0.75s ease;
  transition-delay: 0.3s;
}
.why-body-description > div {
  display: inline-block;
  height: 1.1vh;
  width: 1.1vh;
  margin-right: 0.4vw;
  border-radius: 50%;
  background-color: green;
}

.why-body-description {
  margin-top: 3vh;
  font-size: 1.7vh;
  line-height: 2.6vh;
  opacity: 0;
  transform: translateY(10vh);
}
.why-body-description-active {
  opacity: 1;
  transform: translateY(0);
  transition: opacity 0.75s ease, transform 0.75s ease;
  transition-delay: 0.6s;
}

.why-img-center {
  position: absolute;
  right: 25vw;
  height: 100%;
  transform: translateX(50%);

  z-index: 0;
}
.why-img-right {
  position: absolute;
  right: 0;
  height: 100%;
}